/* home.scss */
.mc-home {
  .mc-home-container {
    .mc-facebookLike-container {
      width: 100%;
      padding: $padding;
    }
    .mc-home-header {
      background: $red4;
      padding: $padding;
      color: $white;
      text-transform: uppercase;
    }
    .mc-promo-container, .mc-acessados-container {
      padding-top: $padding;
      .mc-product-container {
        padding: $padding;
        display: block;
        &:not(:last-of-type) {
          border-bottom: 1px solid $grey4;
        }
      }
      .mc-product-image {
        display: inline-block;
        height: 85px;
        width: 30%;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
      }
      .mc-product-details-wrapper {
        width: 70%;
        display: inline-block;
        float: right;
      }
      .cp-prod-desc, .ma-prod-desc {
        padding-bottom: $padding;
        text-transform: uppercase;
        color: $darkRed2;
        font-weight: bold;
      }
      .cp-prod-preco-de {
        padding-bottom: $padding / 2;
        color: $red5;
        text-decoration: line-through;
      }
      .cp-prod-preco {
        color: $green2;
        font-weight: bold;
      }
      .cp-prod-vm, .ma-prod-vm {
        padding-top: $padding;
      }
    }
    .mc-blog-container {
      .mc-post-container {
        display: block;
        padding: $padding $padding $padding + 5 $padding;
      }
      .mc-post-title {
        padding-bottom: $padding / 2;
        color: $grey12;
        font-weight: bold;
      }
      .mc-post-preview {
        font-size: $base-font-size;
        color: $grey13;
      }
      .mc-post-button {
        padding-top: $padding / 2;
        text-align: right;
      }
    }
    .mc-newsletter-wrapper {
      background: $darkRed3;
      padding: $padding;
      position: relative;
      .mc-newsletter-input {
        -webkit-appearance: none;
        appearance: none;
        border: 0;
        border-radius: 0;
        display: inline-block;
        width: 100%;
        padding: $padding $padding * 3 $padding $padding;
      }
      .mc-newsletter-button {
        color: $grey3;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        right: $spacing - 2;
        height: 16px;
        padding: $padding;
      }
    }
    .mc-imageLinks-container {

    }
  }
  .mc-destaque-carousel-container {
    height: 120px;
    .mc-destaque-carousel-item {
      background-size: 100% 100% !important;
    }
  }
}
