/* pdp.scss */
.mo-pdp {
  .mo-product-table {
    width: 100%;
    table-layout: fixed;
    .mo-product-title {
      padding: $padding;
      font-weight: bold;
    }
    .mo-product-entrega {
      font-size: $mini_font;
      margin: 0 $margin;
      padding: $padding / 2;
      background: $darkRed;
      color: $white;
      display: inline-block;
      border-radius: 5px;
      position: relative;
    }
    .mo-product-block {
      width: 100%;
      table-layout: fixed;
      tr, td {
        width: auto;
        display: block;
      }
      .mo-product-image {
        padding: $padding;
      }
    }
  }
}
