.mc-header-container {
  background: $red4;

  #top-content-logo {
    padding: $padding $padding 0 $padding;
    width: 70%;
    margin: auto;
    display: block;
  }

  #top-content-grupo {
    padding: 0 $padding $padding $padding;
    text-align: center;
  }

  .mc-menu-button {
    position: absolute;
    padding: $padding;
    color: $white;
  }

  .mc-search-container {
    padding: $padding;
    position: relative;
    .mc-search-input {
      width: 100%;
      -webkit-appearance: none;
      border: 0;
      padding: $padding - 2;
      font-size: $base_font_size;
      border-radius: 0;
    }

    .mc-search-button {
      color: $grey11;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      right: $spacing + 6;
      height: $spacing + 6;
    }

  }
}
