.ft-header-container {
  background: $red4;

  #top-content-logo {
    padding: $padding $padding 0 $padding;
    width: 70%;
    margin: auto;
    display: block;
  }

  #top-content-grupo {
    padding: 0 $padding $padding $padding;
    text-align: center;
  }

  .ft-menu-button {
    position: absolute;
    padding: $padding;
    color: $white;
  }

  .ft-search-container {
    padding: $padding;
    position: relative;
    .ft-search-input {
      width: 100%;
      -webkit-appearance: none;
      border: 0;
      padding: $padding - 2;
      font-size: $base_font_size;
    }

    .ft-search-button {
      color: $grey11;
      position: absolute;
      top: $spacing + 6;
      right: $spacing + 6;
    }

  }
}
