/* Navigation Menu - Background */
.mo-menu-container {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* non-critical appearance styles */
  list-style: none;
  background: #5a1313;
  display: none;
  &.active {
    display: block;
  }
}

/* Navigation Menu - List items */
.mo-menu-item {
  /* non-critical appearance styles */
  width: 69.6%;
  border-bottom: 1px solid #fff;
}

.mo-menu-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;

  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

/* Site Wrapper - Everything that isn't navigation */
.mo-site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 5;
  transition: left 0.2s;
  &.mo-nav-opened {
    left: 70%;
    -webkit-filter: blur(3px);
    height: 100%;
    overflow: hidden;
  }
}

.mo-site-mask {
  &.active {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background: transparent;
  }
}
